/* h2 */
.page_title {
  color: rgb(124, 0, 78);
  text-indent: 5cap;
}

/* h1 */
.header_main {
  color: red;
  text-align: center;
  color: rgb(21, 14, 27);
}

img {
  width: 325px;
}

body {
  background-color: rgb(250, 252, 252);
}

table {
  width: 400px;
  color: rgb(85, 12, 90);
}
/* p */
.name {
  color: rgb(188, 110, 20);
}

/* задания начало */


/* задания конец */